<!DOCTYPE html>
<html><head><link href="/css/module/index.b126b3897777e717731aef7fd0c25fb4.css?fcf516b6715a5d9a185a" rel="stylesheet"></head>
<head>
  <meta charset="utf-8">
  <meta name=”renderer” content=”webkit” />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>茶社首页</title>
<body>
  <div id="app"></div>
<script type="text/javascript" src="/js/manifest.31f8036ccd544b12216a.js?fcf516b6715a5d9a185a"></script><script type="text/javascript" src="/js/vendor.ed722dde41717748be6e.js?fcf516b6715a5d9a185a"></script><script type="text/javascript" src="/js/module/index.e36da835ee524ff9e385.js?fcf516b6715a5d9a185a"></script></body>
</html>
