<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=”renderer” content=”webkit” />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="../static/kindeditor/themes/default/default.css" />
	<script charset="utf-8" src="../static/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="../static/kindeditor/zh-CN.js"></script>
  	<title>商家后台</title>
<link href="/css/module/logcms.fa75cd323c91123f747fc8523b7a9867.css?fcf516b6715a5d9a185a" rel="stylesheet"></head>
<body>
  	<div id="app"></div>
<script type="text/javascript" src="/js/manifest.31f8036ccd544b12216a.js?fcf516b6715a5d9a185a"></script><script type="text/javascript" src="/js/vendor.ed722dde41717748be6e.js?fcf516b6715a5d9a185a"></script><script type="text/javascript" src="/js/module/logcms.15aa82e6cfb274c75d35.js?fcf516b6715a5d9a185a"></script></body>
</html>
