<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=”renderer” content=”webkit” />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="../static/kindeditor/themes/default/default.css" />
	<script charset="utf-8" src="../static/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="../static/kindeditor/zh-CN.js"></script>
  	<title>商家后台</title>
<link href="/css/module/logcms.4eeaf1d65cd2b9875955fe623bfa5dca.css?1e29214c2025411cdbde" rel="stylesheet"></head>
<body>
  	<div id="app"></div>
<script type="text/javascript" src="/js/manifest.9fa3c772e8c6aeeb7d9d.js?1e29214c2025411cdbde"></script><script type="text/javascript" src="/js/vendor.a48142530c70d5c5a415.js?1e29214c2025411cdbde"></script><script type="text/javascript" src="/js/module/logcms.8d29b3a0613d09eab6e1.js?1e29214c2025411cdbde"></script></body>
</html>
