<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=”renderer” content=”webkit” />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="../static/kindeditor/themes/default/default.css" />
	<script charset="utf-8" src="../static/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="../static/kindeditor/zh-CN.js"></script>
  	<title>商家后台</title>
<link href="/css/module/logcms.4eeaf1d65cd2b9875955fe623bfa5dca.css?4d44f9dab5cedc34b863" rel="stylesheet"></head>
<body>
  	<div id="app"></div>
<script type="text/javascript" src="/js/manifest.e3152034a4bd5a47ca9a.js?4d44f9dab5cedc34b863"></script><script type="text/javascript" src="/js/vendor.f9d8beb946615f413dfb.js?4d44f9dab5cedc34b863"></script><script type="text/javascript" src="/js/module/logcms.c5526a302f67d58b9863.js?4d44f9dab5cedc34b863"></script></body>
</html>
